html,body{
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    overflow-x: hidden;
}

:root{
    --white: #F7F0F0;
    --light-green: #54EABC;
    --black: rgb(72, 67, 73);
    --black-transparent: rgba(72, 67, 73, 0.5);
    --red: #FF1F2E;
    --dark-green: #218380;
}

/* BEM */

.button{
    background-color: var(--dark-green);
    width: 60%;
    height: 3rem;
    color: var(--white);
    border-radius: 999px;
    border: none;
    font-size: 16px;
    margin-bottom: 4rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.booking-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    background-color: #d9d9d9;
    text-align: center;
    margin-top: 2rem;
}
.booking-block img{
    width: 90%;
    object-fit:fill
}

/* REUSABLE */

.no-gap{
    margin: 0;
    padding: 0;
    gap: 0;
}
.flex{
    display: flex;
}

.color-green{
    color: var(--light-green);
}

.margin-left-right{
    margin-left: 1rem;
    margin-right: 1rem;
}

.none{
    display: none;
}
.text-center{
    text-align: center;
}
/* HEADER */

header{
    height: 15vh;
    width:100%;
    background-color: #484349;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}

header h1{
    color: var(--white);
    font-weight: 400;
    z-index: 99;
}

.header__logo-img{
    height: 80px;
    width: 80px;
    z-index: 99;
}


.header__hamburger-container{
    position: relative;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
}

.header__hamburger-container .header__hamburger-bar, .header__hamburger-container:after, .header__hamburger-container:before{
    content:'';
    display: block;
    width: 100%;
    height:5px;
    background-color: var(--white);
    margin: 6px 0px;
    transition:0.4s;
}
.header__hamburger-container.is-active:before{
    transform: rotate(-45deg) translate(-9px, 6px);
}
.header__hamburger-container.is-active .header__hamburger-bar{
    opacity: 0;
}
.header__hamburger-container.is-active:after{
    transform: rotate(45deg) translate(-9px, -6px);
}

.headernav__headernav-mobile{
    display: block;
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    background-color: var(--black);
    padding-top: 15vh;
    transition: 0.4s;
}
.headernav__headernav-mobile.is-active{
    left: 0;
}
.headernav__headernav-mobile a{
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    padding: 8px;
    width: fit-content;
    margin: 0 auto 16px;
}
.headernav__headernav-mobile a:hover{
    cursor: pointer;
    color: var(--dark-green);
    transform: 0.4s;
}

.headernav__headernav-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    display: none;
}
.headernav__headernav-desktop a{
    text-decoration: none;
    color: var(--white);
}

/* MAIN LANDINGPAGE */

.background-image{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

main{

    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.landing-page{
    background-image: url("/photos/09-night.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: var(--white);
    width: 100%;
    height:85vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 98;
}

.landing-page-title h2{
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
}

.button button{
    width: 100%;
    height: 100%;
}

.about-us{
    display: flex;
    flex-direction: column;
    color: var(--black);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/* MAIN BOOKING */

.destination-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.booking-search-bar-container{
    width: 60%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
}
.booking-search-bar{
    border-radius: 9999px;
    border: none;
    background-color: #D9D9D9;
    width: 100%;
    height:3rem;
    padding-right: 40px;
    box-sizing: border-box;

}
.search-icon{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    color: var(--black);
}
.filter-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
}
.filter-container h2{
    font-weight: 400;
}

.booking-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

/* MAIN HOTEL */

.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto auto; 
    gap: 1rem; 
    padding: 1rem;
    
}
.grid-container h2{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.grid-item{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* FOOTER */

footer{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    height: 90vh;
}

.footer-logo{
    width: 20%;
}

footer h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
footer h2{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}




@media screen and (min-width: 576px){
    .booking-search-bar-container{
        width: 50%;
    }
}
@media screen and (min-width: 768px){
    .booking-search-bar-container{
        width: 40%;
    }

}

@media screen and (min-width: 992px){
    header a{
        font-size: 1.2rem;
    }
    .headernav__headernav-mobile, .header__hamburger-container{
        display: none;
    }
    .headernav__headernav-desktop{
        display: flex;
    }
    .button{
        width: 33%;
    }
    .about-us{
        width: 60vh;
    }
    footer{
        height: 50vh;
        display: flex;
        flex-direction: row;
    }
    .footer-logo{
        width: 10%;
    }

    /* BOOKING */

    .booking-search-bar-container{
        width: 30%;
    }
    
    .booking-block{
        flex-direction: column;
        width: 30%;
        background-color: #d9d9d9;
        text-align: center;
        margin-top: 2rem;
    }
    .booking-block img{
        width: 90%;
        object-fit:fill
    }
    .booking-container{
        flex-direction: row;
        padding: 1rem;
    }
    /* HOTEL */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto; 
        gap: 1rem; 
        padding: 1rem;
        
    }
    .grid-item{
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        text-align: center;
    }
    .grid-item:nth-child(4){
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .grid-item img{
        width: 100%;
        object-fit: fill;
    }
}


/* FONTS */

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }



.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
